<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{_layout::header(~{::title}, _ , _ )}">
    
    <title>Accueil</title>

    <link rel="icon" href="shop.png">
</head>
<body>
    <nav th:replace="~{_layout::navbar}"></nav>
    <div class="container mt-5">
        <h1><i class="fa-solid fa-otter"></i>Accueil !</h1>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Optio officiis adipisci commodi alias soluta aliquam minus, obcaecati ab quae molestiae?</p>
    </div>
</body>
</html>